ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6
{
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4
{
  font-weight: normal;
  font-style: normal;
}
small
{
  font-size: 92%;
}
h1
{
  font-size: 200%;
}
h2
{
  font-size: 125%;
}
.snow
{
  color: #FFFFFF;
}
.hide
{
  display: none;
}

@import 'base';
@import 'partials/header';
@import 'partials/footer';
