<h2>おとしばなしおぶざでい</h2>
<p>おとしばなしおぶざでい わ きょう まさに ひらかれる よせと はなしかいの じょうほうを こうずかに むけて はっしんする うえぶさいと。 とうきょうに まだのこる よんせきの よていされた ばんぐみを まいにち ちょいちょい きみに とどける。</p>
<dl>
	<dt>つのがき</dt>
	<dd>よんびょうで おとしばなし</dd>
	<dt>ばーじょん</dt>
	<dd>0.0.1</dd>
	<dt>らいせんす</dt>
	<dd>BSD</dd>
	<dt>りぽじとり</dt>
	<dd>https://github.com/visionmedia/express.git</dd>
	<dt>ひいる</dt>
	<dd>https://github.com/visionmedia/express/issues</dd>
	<dt>げんご</dt>
	<dd>Erlang/OTP</dd>
	<dd>Node.js</dd>
</dl>

<h2>かいはつじん</h2>
<ul>
	<li>ひろ みつみ（ぷろぐらま）</li>
	<li>だいすけ やまもと（かんとく）</li>
</ul>